.awesome {
  min-width: 100%;
}
.awesome__title {
  color: #212121;
}
.awesome__text {
  margin-bottom: 67px;
}
.awesome-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px 89px;
}
.awesome-card__item {
  width: 350px;
  margin: 0 15px;
}
.awesome-card-circle {
  width: 70px;
  height: 70px;
  border: 1px solid #d98943;
  border-radius: 50%;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
}
.awesome-card-circle__img {
  margin: 0 auto;
}
.awesome-card__title {
  margin: 0px auto 16px;
  width: 189px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #333333;
}

.awesome-card__description_text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .awesome-card {
    justify-content: space-around;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .awesome-card {
    flex-direction: column;
    align-items: center;
  }
  .awesome-card__item {
    width: 545px;
  }
}
@media (min-width: 360px) and (max-width: 768px) {
  .awesome-card {
    flex-direction: column;
    align-items: center;
  }
  .awesome-card__item {
    width: 330px;
  }
}
