.customers__title {
  color: #212121;
}
.customers__text {
  margin-bottom: 67px;
}
.customers-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px 120px;
}
.customers-card__item {
  width: 300px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.customers-card__comment {
  height: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 7px;
  background: #e2e2e2;
  padding: 10px;
  margin-bottom: 22px;
  position: relative;
  width: 298px;
}
.customers-card__comment::after {
  content: '';
  position: absolute;
  left: 45px;
  top: 100%;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 17px solid #e2e2e2;
}
.customers-card__comment_text {
  width: 255px;
  margin: auto;
}
.customers-card__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 45px;
}
.customers-card__content_description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
.customers-card__content_description-name {
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #333333;
}
.customers-card__content_description-job {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #86878b;
  margin: 0;
}
