.social {
  background: #f8efef;
}
.social-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  margin: 0 -15px;
}
.social-container__item {
  margin: 0 15px;
}
.social-card {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 15px;
}
.social-description {
  width: 365px;
}
.social-description__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 15px;
}
.social-description__text {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #86878b;
  margin-bottom: 17px;
}
.social-card__icon {
  font-size: 40px;
  color: #86878b;
  opacity: 0.5;
}
.social-card__icon:hover {
  transition: all 0.5s;
  color: #d98943;
  opacity: 0.8;
}

.social-card__item:not(:last-child) {
  margin-right: 65px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .social-card__item:not(:last-child) {
    margin-right: 48px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .social-container {
    flex-direction: column;
    align-items: center;
  }
  .social-description__title {
    text-align: center;
  }
  .social-description__text {
    text-align: center;
  }
  .social-card__item:not(:last-child) {
    margin-right: 45px;
  }
}
@media (min-width: 360px) and (max-width: 768px) {
  .social-container {
    flex-direction: column;
    align-items: center;
  }
  .social-description__title {
    text-align: center;
  }
  .social-description__text {
    text-align: center;
  }
  .social-card__item:not(:last-child) {
    margin-right: 10px;
  }
  .social-container__item {
    margin: 0;
    width: 330px;
  }
  .social-container__item {
    width: 330px;
    justify-content: space-between;
  }
}
