@import url('header.css');
@import url('first-screen.css');
@import url('awesome-section.css');
@import url('tabs.css');
@import url('pricing.css');
@import url('customers.css');
@import url('axure.css');
@import url('social.css');
@import url('footer.css');
@import url('contacts.css');

.container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0 15px;
}
.title {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 70px;
}
.title::after {
  width: 64px;
  margin: 0 auto;
  border-bottom: 1px solid #d98943;
  content: '';
  display: block;
  position: relative;
  top: 35px;
}
.line {
  width: 64px;
  margin: 0 auto 35px;
  border-bottom: 1px solid #d98943;
}
.text {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #86878b;
}
